.scrolling-carousel {
  @apply flex gap-6 children-no-shrink;
  @apply overflow-x-auto;

  &::-webkit-scrollbar {
    block-size: 0.2rem;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      to right,
      theme("colors.primary.300"),
      theme("colors.primary.500")
    );
    border-radius: theme("borderRadius.lg");
  }

  &::-webkit-scrollbar-track {
    background-image: linear-gradient(
      to right,
      theme("colors.slate.800"),
      theme("colors.slate.700")
    );
    border-radius: theme("borderRadius.lg");
  }
}
