@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    @apply tracking-wide;
    @apply bg-slate-900 text-slate-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }

  a {
    @apply inline-block text-inherit;
  }
}

@layer components {
  .btn {
    @apply capitalize rounded-md active:bg-active;
    @apply bg-slate-50 text-slate-700;
    padding: 0.25em 1em;
    transition: transform 200ms ease-in-out;

    &:hover {
      @apply scale-105;
    }
  }

  .btn--large {
    @apply text-lg;
    @apply rounded-xl;
    padding: 0.5em 1.5em;
  }

  .btn--primary {
    @apply bg-primary-500 text-slate-100;
  }
}

@layer utilities {
  .flex-btw {
    @apply flex items-center justify-between;
  }
  .flex-btw-center {
    @apply flex items-center justify-between;
  }

  .full-bleed {
    box-shadow: 0 0 0 100vmax var(--tw-shadow-color);
    clip-path: inset(0 -100vmax);
  }

  .app-width {
    inline-size: min(92%, 75rem);
    margin-inline: auto;
  }

  .section-separator {
    @apply border-b-8 border-slate-700;
  }
}
